<mat-drawer #drawer class="dashboard-sidenav">
  <p style="font-weight: bold;">MENÚ</p>
  <mat-divider></mat-divider>
  <button mat-button>
    USER REGISTER
  </button>
  <mat-divider></mat-divider>
  <button mat-button>
    USERS LIST
  </button>
  <mat-divider></mat-divider>
  <button mat-button>
    USERS PAYMENTS
  </button>
  <mat-divider></mat-divider>
  <button mat-button>
    USER ASSISTANCES
  </button>
  <mat-divider></mat-divider>
  <button mat-button>
    USER EDIT
  </button>
  <mat-divider></mat-divider>
  <button mat-button color="warn">
    LOG OUT
  </button>
  <mat-divider></mat-divider>
</mat-drawer>
<!--  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>-->
