<div align="center" style="margin-top: 2%;">
  <mat-card class="container" style="width: 40%;">

    <mat-card-title>
      <span style="font-weight: bold;">USER REGISTRATION</span>
      <i class="material-icons" matprefix>edit</i>
    </mat-card-title>
    <mat-divider></mat-divider>

    <div fxLayoutAlign="center" id="spinner-login-div">
      <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="2" id="login-spinner"></mat-progress-spinner>
    </div>

    <form id="register-form">
      <div align="center">
        <img src="../../../assets/login-logo.png" alt="" width="20%" style="margin-top: 2%;">
        <br/>
        <input type="file" id="profile-picture">
      </div>
      
      <mat-form-field style="width: 100%;">
        <span matPrefix>V- &nbsp;</span>
        <input type="text" matInput placeholder="ID">
      </mat-form-field>
      <br/>
      <mat-form-field style="width: 100%;">
        <input type="text" matInput placeholder="FULL NAME">
      </mat-form-field>
      <br/>
      <mat-form-field style="width: 100%;">
        <input type="email" matInput placeholder="EMAIL">
      </mat-form-field>
      <br/>
      <mat-form-field style="width: 100%;">
        <span matPrefix>+58 &nbsp;</span>
        <input type="tel" matInput placeholder="PHONE">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Registration Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br/>
      <mat-form-field style="width: 100%;">
        <input type="text" matInput placeholder="USERNAME" disabled>
      </mat-form-field>
      <br/>
      <mat-form-field style="width: 100%;">
        <input type="password" matInput placeholder="PASSWORD" disabled>
      </mat-form-field>
      <br/>            
      <button mat-raised-button color="primary" type="button" style="width: 100%;" (click)="register()">
        REGISTER
        <i class="material-icons">done</i>
      </button>
    </form>

  </mat-card>
</div>