<div class="container" style="margin-left: auto; margin-right: auto">
  <mat-card class="container" style="width: 30%">
    <h1 fxLayoutAlign="center" style="margin-top: 10%">LOGIN</h1>
    <img src="../../../assets/login-logo.png" alt="" id="login-logo">

    <div fxLayoutAlign="center" id="spinner-login-div">
      <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="2" id="login-spinner"></mat-progress-spinner>
    </div>

    <form style="margin-top: 10%" id="login-form">

      <mat-form-field style="width: 100%;" appearance="outline">
        <input type="text" matInput placeholder="USERNAME">
      </mat-form-field>

      <br/>

      <mat-form-field style="width: 100%;" appearance="outline">
        <input type="password" matInput placeholder="PASSWORD" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <div fxLayout="row">
        <div fxLayout="col">
          <mat-checkbox>REMEMBER ME!</mat-checkbox>
        </div>
      </div>

      <div fxLayoutAlign="center" style="margin-top: 14%;">
        <button mat-raised-button color="primary" type="button" style="padding: 0px 50px;" (click)="login()">LOG IN</button>
      </div>

    </form>
  </mat-card>
</div>