<mat-toolbar color="primary" id="navbar-home" class="container">
  <button mat-button style="color: white; font-weight: bold; letter-spacing: 0px; font-size: 20px;">CLIENT MANAGER</button>
  <span class="spacer"></span>
  <div class="buttons-div container">
    <button mat-button routerLink="/login" style="color: white; font-weight: bold; letter-spacing: 0px; font-size: 20px;">
      LOGIN
      <i class="material-icons" style="margin-top: -5px">perm_identity</i>
    </button>
    <button mat-button routerLink="/register" style="color: white; font-weight: bold; letter-spacing: 0px; font-size: 20px;">
      REGISTER
      <i class="material-icons" style="margin-top: -5px">info</i>
    </button>
      <!--<button mat-button style="color: white; font-weight: bold; letter-spacing: 0px; font-size: 20px;">
        ABOUT
        <i class="material-icons" style="margin-top: -5px">info</i>
      </button>-->
  </div>
</mat-toolbar>