<!--<mat-toolbar color="primary" id="navbar-home" class="container">
  <button mat-button style="color: white; font-weight: bold; letter-spacing: 0px; font-size: 20px;">CLIENT MANAGER</button>
  <span class="spacer"></span>
  <div class="buttons-div container">
    <button mat-button routerLink="/login" style="color: white; font-weight: bold; letter-spacing: 0px; font-size: 20px;">
      LOGIN
      <i class="material-icons" style="margin-top: -5px">perm_identity</i>
    </button>
    <button mat-button routerLink="/register" style="color: white; font-weight: bold; letter-spacing: 0px; font-size: 20px;">
      SIGN UP
      <i class="material-icons" style="margin-top: -5px">info</i>
    </button>
    <!<button mat-button style="color: white; font-weight: bold; letter-spacing: 0px; font-size: 20px;">
        ABOUT
        <i class="material-icons" style="margin-top: -5px">info</i>
      </button>>
  </div>
</mat-toolbar>-->

<div style="height: 100vh;">

  <mat-toolbar color="primary">

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-button (click)="sidenav.toggle()">
        <i class="material-icons">
          menu
        </i>
      </button>
    </div>
    <span>CLIENT MANAGER</span>
    <span class="spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a href="#" mat-button routerLink="/login">
        LOGIN
        <i class="material-icons" style="margin-top: -5px">perm_identity</i>
      </a>
      <a href="#" mat-button routerLink="/register">
        SIGN UP
        <i class="material-icons" style="margin-top: -5px">info</i>
      </a>
    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column" align="left">
        <button mat-button (click)="sidenav.toggle()" color="danger">
          <i class="material-icons">close</i>
        </button>
        <a href="#" mat-button routerLink="/login">
          LOGIN
          <i class="material-icons" style="margin-top: -5px">perm_identity</i>
        </a>
        <a href="#" mat-button routerLink="/register">
          SIGN UP
          <i class="material-icons" style="margin-top: -5px">info</i>
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <div [@routerAnimation]="getRouteAnimation(route)">
            <router-outlet #route="outlet"></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>